.home-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.home-buttons button {
    background-color: orange;
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    margin: 0 15px;
    cursor: pointer;
}
body{
    background-image: url(A:\scribbler\images\image1.png);
}

